<h1> Edit </h1>

    <form action="{% url 'records_manager:record_details' record.id%}">
        <input type="submit" value="Back" />
    </form>

<form method="post" form action = "{% url 'records_manager:edit_record_details' record.id %}">
    {% csrf_token %}
    <label for= "name">Name:</label>
    <br>
    <input type="text" id="name" name="name" value={{record.name}}>
    <br>
    <label for= "description">Description:</label>
    <br>
    <input type="text" id="description" name="description" value={{record.description}}> 
    <br>
    {% if category_list %}
        <label for= "category">Category:</label>
        <br>
        <select name="category" id="category" value={{record.category}}>
            {% for category in category_list %}
                <option>{{category.name}}</option>
            {% endfor %}
        </select>
    {% endif %}
    <br>
    <br>
    <input type="submit" value="Save">
</form>
